<html>
	<head>
		<title>Server Error - Eventify</title>
		{% include imports.tem %}
	</head>

	<body>
		<!-- Scent the pony -->
		{% include header.tem %}
		<div id='main' style="align:center;">
			<h1> {! er !} </h1>      
			<img src="/static/photodata/error.jpg">
		</div>

		{% include footer.tem %}
	</body>
</html>
