<html>
<head>
<title>Events - Eventify</title>
<link rel="stylesheet/less" type="text/css" href="/static/css/event.less"/>
	{% include imports.tem %}
</head>
<body>
	{% include header.tem %}
    <div id="main">
	<article>
    <h2><b><a href="/eventcreate"> Create Event </a></h2></b><br>
    
    <ul>
    {% for event in events %}
        <li><a href="/event/{! event.eventid !}" >{! event.name !}</a></li>
    {% end for %}
    </ul>
    </article>
    </div>
	{% include footer.tem %}
</body>
</html>