    <form method= "post" action= "/login_redirect">
        <p><label>Username:</label><input type="text" name= "user"></p>
        <p><label>Password:</label><input type="password" name= "password"></p>
        <p><button class="button" type="submit"><span class="user icon"></span>Login</button></p>
    </form>
