<html>
    <head>
        <body>
            <p><a href = "/logout">Logout</a></p>
            <p>
                {% if user %} {! user.username !} {% else %} You are logged out {% end if %}
        </body>
    </head>
</html>  
  
            
        
            