<!DOCTYPE html>
<html>

<head>
<title>Registration - Eventify</title>
<link rel="stylesheet/less" type="text/css" href="/static/css/registration.less"/>
        {% include imports.tem %}
</head>
<body>
{% include header.tem %}    
    <div id="main">
    {% if "error" in defaults %} <p style="color:red;"> {! defaults["error"] !} </p> {% end if%}
    <form method= "post" action= "/registration_action">
        <p><label>Email:</label><input type= "text" name= "email" value = "{! defaults.get("email", "") !}"></p>
        <p><label>Username:</label><input type= "text" name= "user" value = "{! defaults.get("user", "") !}"></p>
        <p><label>Firstname:</label><input type= "text" name= "firstname" value = "{! defaults.get("firstname", "") !}"></p>
        <p><label>Lastname:</label><input type= "text" name= "lastname" value = "{! defaults.get("lastname", "") !}"></p>
        <p><label>Password:</label><input type= "password" name= "password"></p>
        <p><label>Re-type password:</label><input type= "password" name= "password2"></p>
        <p><button class="button" type="submit"><span class="user icon"></span>Register</button></p>
    </form></div>  
    {% include footer.tem%}
    </body>
</html>
