<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="/static/css/search.less"/>
        <title>Search - Eventify</title>
        {% include imports.tem %}
    </head>
    <body>
        {% include header.tem %}
        <div id="main">
        <form method= "get" action= "/search_page">
            <p><label>Search:<input type="text" name= "query"></label></p>
            <p><input type="radio" name="search_type" value="user" checked = "checked">User Search</input>
            <input type="radio" name="search_type" value="event">Event Search</input>
            <input type="radio" name="search_type" value="photo">Photo Search</input></p>
            <p><button type="submit"><span class="magnifier icon"></span>Search</button></p>
        </form>
        </div>
        {% include footer.tem %}
    </body>
</html>
