<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Eventify, Thanks for Registering!</title>
    	<link rel="stylesheet/less" type="text/css" href="/static/css/registration.less"/>
    	{% include imports.tem %}
    	<script src="/static/js/index_photoanimation.js" type="text/javascript"></script>
		<script type="text/javascript">
			setTimeout("window.location='/'", 3000);
		</script>
	</head>
    <body>
		{% include header.tem %}
		<div id="main">
		<p>Thank you for registering!</p> 
    	<p><a href = "/">Start Eventifying!</a></p>
		</div>
    </body>
    
</html>
    
